body {
  -webkit-font-smoothing: antialiased;
  background-color:#F0E7E4;
  .panel {
    background-color:#ccc;
    h1#header{
      text-align:center;
      padding: 1%;
      font-weight: bold;
      text-decoration: underline;
      font-size: 40px;
    }
  }
  .card {
    margin: 0.5em auto;
    -webkit-box-shadow: 6px 7px 24px 0px rgba(102,96,102,0.65);
    -moz-box-shadow: 6px 7px 24px 0px rgba(102,96,102,0.65);
    box-shadow: 6px 7px 24px 0px rgba(102,96,102,0.65);
    .left-edge-content {
      padding-left: 0;
    }

    .info {
      float: right;
    }
  }
  .status-pass{
    background-color:#36ca5d;
  }
  .status-fail{
    background-color:#f57e61;
  }
}
.name {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.3em;
}
.image {
  height: 125px;
  width: auto;
}
@media screen and (max-width:766px){
  .image {
    height: 120px;
    width: 120px;
    float: left;
    .info {
      float: right;
      text-align: left;
    }
  }
}

a:nth-child(2){
  padding-left: 22%;
  font-size: 28px;
  font-weight: bold;
}

a:nth-child(1){
  font-size: 16px;
  padding-left: 3px;
}

#github {
  height: 10em;
  width: auto;
  padding: 0;
  margin: 0;
  float: left;
}

#codingHouse{
  height: 9em;
  width: auto;
  padding: 0;
  margin: 0;
  margin-top: 1%;
  float: right;
}

h1 {
  text-align: center;
}

.octicon {
  width: 30px;
  display: table-header-group;
  line-height: 22px;
}

.octicon-comment-add:before, .octicon-comment:before {
  content: '\f02b';
  padding-right: 5px;
}

.octicon-git-pull-request-abandoned:before, .octicon-git-pull-request:before {
  content: '\f009';
  padding-right: 7px;
}

.octicon-history:before {
  content: '\f07e';
  padding-right: 5px;
}

#template:hover {
   transition: all .2s ease-in-out;
   transform: scale(1.5);
   z-index: 99;
}
